.catalogue-cards {
  margin: 20px 30px;
}

.home-catalogue {
  padding: 20px;
  display: block;
}

.home-catalogue-heading {
  margin: 20px;
  text-align: center;
}

.home-catalogue-heading h2 {
  color: #6a0818;
}

.home-catalogue-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}

.catalogue-card {
  height: 220px;
  width: 27%;
  margin-bottom: 20px;
  /* border: 1px solid black; */
  box-shadow: 5px 5px 10px black;
  position: relative;
}

.catalogue-card:hover {
  box-shadow: 10px 10px 25px #000;
  opacity: 80%;
  transform: scale(1.1);
}

.catalogue-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.4s;
}

.catalogue-card p {
  font-size: 18px;
  color: #6a0818;
  text-align: center;
  position: absolute;
  margin: auto;
  height: fit-content;
  top: 55%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 4%;
}

/* .catalogue-link {
  text-decoration: none;
  color: #000;
} */

@media screen and (max-width: 768px) {
  .home-catalogue-heading h2 {
    font-size: 20px;
  }

  .home-catalogue-container {
    flex-flow: column wrap;
    align-items: center;
    margin-top: 30px;
  }

  .catalogue-card {
    margin-bottom: 60px;
    width: 80%;
    height: 200px;
  }

  .catalogue-card p {
    font-size: 14px;
  }
}
